## Cr√©ation premi√®re Database

In [1]:
import psycopg2
from psycopg2 import sql
import pandas as pd


df = pd.read_csv("../data/strava_activities_clean_.csv")

host = "localhost"
port = "5432"
database = "postgres"
user = "arthurdercq"
password = "qsdfgqsdfg"

try:
    conn = psycopg2.connect(
        host=host,
        port=port,
        database=database,
        user=user,
        password=password
    )
    print("Connexion r√©ussie !")

    # Cr√©er un curseur pour ex√©cuter des requ√™tes
    cur = conn.cursor()
    cur.execute("SELECT version();")
    print("Version de PostgreSQL :", cur.fetchone())

    # Fermer le curseur
    cur.close()

except Exception as e:
    print("Erreur de connexion :", e)

Connexion r√©ussie !
Version de PostgreSQL : ('PostgreSQL 17.5 (Homebrew) on aarch64-apple-darwin23.6.0, compiled by Apple clang version 16.0.0 (clang-1600.0.26.6), 64-bit',)

In [ ]:
from psycopg2 import sql
from psycopg2 import connect, sql
from psycopg2.extras import execute_values
import pandas as pd
import json


def store_df_in_postgresql(db_path, host, database, user, password, port):

    #Lire le fichier CSV
    df = pd.read_csv(db_path)

    # Supprimer la colonne 'id' si elle existe
    if 'id' in df.columns:
        df = df.drop(columns=['id'])

    # Connexion √† la DB
    conn = connect(
        host=host,
        database=database,
        user=user,
        password=password,
        port=port
    )
    cur = conn.cursor()

    table_name = "dashboard"

    # Cr√©ation de la table (si elle n'existe pas)
    create_table_query = sql.SQL("""
    CREATE TABLE IF NOT EXISTS {} (
        id BIGSERIAL PRIMARY KEY,
        name VARCHAR(255),
        distance FLOAT,
        moving_time INTEGER,
        elapsed_time INTEGER,
        moving_time_hms VARCHAR(20),
        elapsed_time_hms VARCHAR(20),
        total_elevation_gain FLOAT,
        sport_type VARCHAR(255),
        start_date TIMESTAMP,
        start_date_local TIMESTAMP,
        timezone VARCHAR(50),
        achievement_count INTEGER,
        kudos_count INTEGER,
        gear_id VARCHAR(255),
        start_latlng VARCHAR(50),
        end_latlng VARCHAR(50),
        average_speed FLOAT,
        speed_minutes_per_km FLOAT,
        max_speed FLOAT,
        average_cadence FLOAT,
        average_temp FLOAT,
        has_heartrate BOOLEAN,
        average_heartrate FLOAT,
        max_heartrate FLOAT,
        elev_high FLOAT,
        elev_low FLOAT,
        pr_count INTEGER,
        has_kudoed BOOLEAN,
        average_watts FLOAT,
        kilojoules FLOAT,
        map JSONB
    );
    """).format(sql.Identifier(table_name))

    cur.execute(create_table_query)

    # Pr√©parer les donn√©es
    values = [
        (
            row['name'], row['distance'], row['moving_time'], row['elapsed_time'],
            row["moving_time_hms"], row["elapsed_time_hms"],
            row['total_elevation_gain'], row['sport_type'], row['start_date'],
            row['start_date_local'], row['timezone'], row['achievement_count'],
            row['kudos_count'], row['gear_id'], str(row['start_latlng']),
            str(row['end_latlng']), row['average_speed'], row['speed_minutes_per_km'],
            row['max_speed'], row['average_cadence'], row['average_temp'],
            row['has_heartrate'], row['average_heartrate'], row['max_heartrate'],
            row['elev_high'], row['elev_low'], row['pr_count'], row['has_kudoed'],
            row['average_watts'], row['kilojoules'], json.dumps(row['map'])
        )
        for _, row in df.iterrows()
    ]

    # Colonnes √† ins√©rer (ne pas inclure id)
    columns = (
        'name', 'distance', 'moving_time', 'elapsed_time','moving_time_hms', 'elapsed_time_hms',
        'total_elevation_gain',
        'sport_type', 'start_date', 'start_date_local', 'timezone',
        'achievement_count', 'kudos_count', 'gear_id', 'start_latlng', 'end_latlng',
        'average_speed', 'speed_minutes_per_km', 'max_speed', 'average_cadence',
        'average_temp', 'has_heartrate', 'average_heartrate', 'max_heartrate',
        'elev_high', 'elev_low', 'pr_count', 'has_kudoed', 'average_watts',
        'kilojoules', 'map'
    )

    insert_query = sql.SQL("""
        INSERT INTO {} ({})
        VALUES %s
    """).format(
        sql.Identifier(table_name),
        sql.SQL(', ').join(map(sql.Identifier, columns))
    )

    # Insertion en bulk
    execute_values(cur, insert_query.as_string(conn), values)

    conn.commit()
    cur.close()
    conn.close()

    print("‚úÖ Donn√©es import√©es dans PostgreSQL.")

In [9]:
host = "localhost"
database = "postgres"
user = "arthurdercq"
password = "qsdfgqsdfg"
port = "5432"


store_df_in_postgresql(db_path="../data/strava_activities_clean_.csv", host=host, database=database, user=user, password=password, port=port)

‚úÖ Donn√©es import√©es dans PostgreSQL.

## Mise √† jour de la Database

In [1]:
import sys
import os
from sqlalchemy import create_engine, inspect, text
# Ajoute le chemin absolu du dossier projet au PATH
sys.path.append(os.path.abspath("/Users/arthurdercq/code/Data Science/Garmin_Dashboard"))

In [ ]:
from sqlalchemy import create_engine
from eye_sight.strava.fetch_strava import update_strava_data
from eye_sight.strava.clean_data import clean_data


# 1 Charger les nouvelles donn√©es STRAVA
new_data = update_strava_data()

Requesting Token...

/Users/arthurdercq/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.strava.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

Access Token = 983af5ce8acb796565b875eb3992c7c3613e2510

üì• Fetching last 10 activities from Strava...
‚úÖ 10 activities retrieved from Strava.

In [6]:
new_data_clean = clean_data(new_data)

Colonnes ‚úÖ
Distance convertie ‚úÖ
Index id ‚úÖ
temps de secondes en minutes ‚úÖ
m/s en km/h ‚úÖ
min/km colonne ‚úÖ
Format temps HH:MM:SS ‚úÖ
Les donn√©es ont √©t√© nettoy√©es avec succ√®s ‚úÖ

In [28]:
engine = create_engine("postgresql://arthurdercq:qsdfgqsdfg@localhost:5432/postgres")


try:
    new_data_clean.to_sql('dashboard', engine, if_exists='append', index=False, method='multi', chunksize=1)
except Exception as e:
    print(e)

In [30]:
new_data_clean

,name,distance,moving_time,elapsed_time,total_elevation_gain,sport_type,start_date,start_date_local,timezone,achievement_count,...,elev_low,pr_count,has_kudoed,average_heartrate,max_heartrate,average_watts,kilojoules,speed_minutes_per_km,moving_time_hms,elapsed_time_hms
id,,,,,,,,,,,,,,,,,,,,,
15262849412,Natation dans l'apr√®s-midi,2.1500,33.600000,42.400000,0.0,Swim,2025-07-28T11:41:38Z,2025-07-28T13:41:38Z,(GMT+02:00) Africa/Blantyre,0,...,0.0,0,False,NaN,NaN,NaN,NaN,15.634772,33:36:00,42:24:00
15255160621,5 derniers kil be like,32.1172,199.266667,205.066667,992.0,TrailRun,2025-07-27T12:37:16Z,2025-07-27T14:37:16Z,(GMT+01:00) Europe/Brussels,0,...,69.0,0,False,139.5,166.0,NaN,NaN,6.205014,199:16:00,205:04:00
15244378944,J‚Äôme suis accroch√© √† un bidon,7.3138,38.233333,38.316667,133.0,TrailRun,2025-07-26T15:48:00Z,2025-07-26T17:48:00Z,(GMT+01:00) Europe/Brussels,2,...,51.0,2,False,138.3,154.0,NaN,NaN,5.227938,38:14:00,38:19:00
15219932005,C√¥te √† l‚Äôos,18.5163,102.666667,102.900000,613.0,Run,2025-07-24T09:54:15Z,2025-07-24T11:54:15Z,(GMT+01:00) Europe/Brussels,1,...,47.2,0,False,152.6,173.0,NaN,NaN,5.544467,102:40:00,102:54:00
15210086165,Big moustache ?,37.2584,94.900000,100.866667,283.0,Ride,2025-07-23T11:54:22Z,2025-07-23T13:54:22Z,(GMT+01:00) Europe/Brussels,9,...,57.4,3,False,109.1,137.0,118.3,673.5,2.547252,94:54:00,100:52:00
15197835902,Course √† Dwight dans le Schrute,10.0170,48.166667,48.216667,75.0,Run,2025-07-22T12:25:45Z,2025-07-22T14:25:45Z,(GMT+01:00) Europe/Brussels,9,...,56.2,0,False,140.1,160.0,NaN,NaN,4.808617,48:10:00,48:13:00
15184146738,Course √† Kendrick le Lamar,14.2376,70.416667,70.950000,95.0,Run,2025-07-21T07:18:50Z,2025-07-21T09:18:50Z,(GMT+01:00) Europe/Brussels,13,...,46.4,4,False,143.3,168.0,NaN,NaN,4.945598,70:25:00,70:57:00
15163453200,J‚Äôai crois√© un mec avec une enooooooorme mite,21.8927,117.550000,118.616667,573.0,TrailRun,2025-07-19T08:01:22Z,2025-07-19T10:01:22Z,(GMT+01:00) Europe/Brussels,0,...,101.6,0,False,158.9,181.0,NaN,NaN,5.369416,117:33:00,118:37:00
15156172778,Pogacar dop√© Gianetti pharmacien Mafia UCI,39.4286,86.566667,86.566667,345.0,Ride,2025-07-18T14:14:46Z,2025-07-18T16:14:46Z,(GMT+01:00) Europe/Brussels,32,...,23.4,21,False,139.9,174.0,157.6,818.6,2.195582,86:34:00,86:34:00
15146823632,MACABRE 93 BONDY NORD,10.1068,46.083333,46.150000,71.0,Run,2025-07-17T16:56:59Z,2025-07-17T18:56:59Z,(GMT+01:00) Europe/Brussels,26,...,80.6,12,False,150.7,176.0,NaN,NaN,4.559964,46:05:00,46:09:00

In [37]:
# R√©cup√©rer l'ordre des colonnes dans la DB
inspector = inspect(engine)
columns_in_db = [col["name"] for col in inspector.get_columns("dashboard")]

new_df = new_data_clean.loc[~new_data_clean.index.isin(existing_ids)]


# Si 'id' est l'index, il faut g√©rer son insertion comme colonne s√©par√©e
# Ajouter l'index (id) √† la DataFrame comme colonne pour correspondre √† la table
new_df = new_df.reset_index()

        # R√©ordonner les colonnes de la DataFrame pour qu‚Äôelles correspondent √† l‚Äôordre en DB
new_df = new_df[columns_in_db]
new_df.head()

,id,name,distance,moving_time,elapsed_time,moving_time_hms,elapsed_time_hms,total_elevation_gain,sport_type,start_date,...,has_heartrate,average_heartrate,max_heartrate,elev_high,elev_low,pr_count,has_kudoed,average_watts,kilojoules,map
0,15262849412,Natation dans l'apr√®s-midi,2.1500,33.600000,42.400000,33:36:00,42:24:00,0.0,Swim,2025-07-28T11:41:38Z,...,False,NaN,NaN,0.0,0.0,0,False,NaN,NaN,"{""id"": ""a15262849412"", ""summary_polyline"": """",..."
1,15255160621,5 derniers kil be like,32.1172,199.266667,205.066667,199:16:00,205:04:00,992.0,TrailRun,2025-07-27T12:37:16Z,...,True,139.5,166.0,223.6,69.0,0,False,NaN,NaN,"{""id"": ""a15255160621"", ""summary_polyline"": ""qs..."
2,15244378944,J‚Äôme suis accroch√© √† un bidon,7.3138,38.233333,38.316667,38:14:00,38:19:00,133.0,TrailRun,2025-07-26T15:48:00Z,...,True,138.3,154.0,101.4,51.0,2,False,NaN,NaN,"{""id"": ""a15244378944"", ""summary_polyline"": ""wg..."
3,15219932005,C√¥te √† l‚Äôos,18.5163,102.666667,102.900000,102:40:00,102:54:00,613.0,Run,2025-07-24T09:54:15Z,...,True,152.6,173.0,96.2,47.2,0,False,NaN,NaN,"{""id"": ""a15219932005"", ""summary_polyline"": ""{f..."
4,15210086165,Big moustache ?,37.2584,94.900000,100.866667,94:54:00,100:52:00,283.0,Ride,2025-07-23T11:54:22Z,...,True,109.1,137.0,141.0,57.4,3,False,118.3,673.5,"{""id"": ""a15210086165"", ""summary_polyline"": ""ci..."

In [39]:
from sqlalchemy import inspect

inspector = inspect(engine)
columns_in_db = [col['name'] for col in inspector.get_columns('dashboard')]
print("Colonnes dans la DB :", columns_in_db)

print("Colonnes dans la DF :", list(new_df.columns))

Colonnes dans la DB : ['id', 'name', 'distance', 'moving_time', 'elapsed_time', 'moving_time_hms', 'elapsed_time_hms', 'total_elevation_gain', 'sport_type', 'start_date', 'start_date_local', 'timezone', 'achievement_count', 'kudos_count', 'gear_id', 'start_latlng', 'end_latlng', 'average_speed', 'speed_minutes_per_km', 'max_speed', 'average_cadence', 'average_temp', 'has_heartrate', 'average_heartrate', 'max_heartrate', 'elev_high', 'elev_low', 'pr_count', 'has_kudoed', 'average_watts', 'kilojoules', 'map']
Colonnes dans la DF : ['id', 'name', 'distance', 'moving_time', 'elapsed_time', 'moving_time_hms', 'elapsed_time_hms', 'total_elevation_gain', 'sport_type', 'start_date', 'start_date_local', 'timezone', 'achievement_count', 'kudos_count', 'gear_id', 'start_latlng', 'end_latlng', 'average_speed', 'speed_minutes_per_km', 'max_speed', 'average_cadence', 'average_temp', 'has_heartrate', 'average_heartrate', 'max_heartrate', 'elev_high', 'elev_low', 'pr_count', 'has_kudoed', 'average_watts', 'kilojoules', 'map']

In [43]:
#from eye_sight.strava.fetch_strava import update_strava_data
#from eye_sight.strava.clean_data import clean_data
from eye_sight.params import *
from sqlalchemy import create_engine, inspect, text

def get_existing_activity_ids(engine):
    query = "SELECT id FROM dashboard"
    with engine.connect() as conn:
        result = conn.execute(text(query))
        return set(row[0] for row in result.fetchall())




def check_schema_compatibility(engine, df, table_name="dashboard"):
    inspector = inspect(engine)
    columns_in_db = [col["name"] for col in inspector.get_columns(table_name)]

    # Inclure l'index (ici 'id') dans la liste des colonnes du DataFrame
    columns_in_df = list(df.columns)
    if df.index.name:
        columns_in_df.append(df.index.name)

    missing_in_df = [col for col in columns_in_db if col not in columns_in_df]
    extra_in_df = [col for col in columns_in_df if col not in columns_in_db]

    if missing_in_df or extra_in_df:
        print("‚ùóÔ∏èAttention : Diff√©rence de sch√©ma d√©tect√©e")
        if missing_in_df:
            print("Colonnes manquantes dans le DataFrame :", missing_in_df)
        if extra_in_df:
            print("Colonnes pr√©sentes dans le DataFrame mais pas dans la DB :", extra_in_df)
        return False

    return True


def update_activities(new_data_clean):
    engine = create_engine(DB_URI)

    existing_ids = get_existing_activity_ids(engine)

    #raw_df = update_strava_data()
    #new_data_clean = clean_data(raw_df)

    if new_data_clean.index.name != 'id':
        new_data_clean = new_data_clean.set_index('id')

    new_df = new_data_clean.loc[~new_data_clean.index.isin(existing_ids)]

    if not new_df.empty:
        # V√©rifier la compatibilit√© du sch√©ma
        if not check_schema_compatibility(engine, new_df, table_name="dashboard"):
            print("üö´ Mise √† jour annul√©e : sch√©ma incompatible.")
            return

        # R√©cup√©rer l'ordre des colonnes dans la DB
        inspector = inspect(engine)
        columns_in_db = [col["name"] for col in inspector.get_columns("dashboard")]

        # Si 'id' est l'index, il faut g√©rer son insertion comme colonne s√©par√©e
        # Ajouter l'index (id) √† la DataFrame comme colonne pour correspondre √† la table
        new_df = new_df.reset_index()

        # R√©ordonner les colonnes de la DataFrame pour qu‚Äôelles correspondent √† l‚Äôordre en DB
        new_df = new_df[columns_in_db]

        # Ins√©rer les donn√©es en base
        new_df.to_sql("dashboard", con=engine, if_exists="append", index=False)
        print(f"{len(new_df)} nouvelles activit√©s ajout√©es.")
    else:
        print("Pas de nouvelles activit√©s.")

In [44]:
update_activities(new_data_clean)

10 nouvelles activit√©s ajout√©es.

In [2]:
from eye_sight.strava.fetch_strava import update_strava_data
from eye_sight.strava.clean_data import clean_data
from eye_sight.update_database import *


update_activities()

Python-dotenv could not parse statement starting at line 13
Python-dotenv could not parse statement starting at line 15
Python-dotenv could not parse statement starting at line 16
Python-dotenv could not parse statement starting at line 17
/Users/arthurdercq/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.strava.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

Requesting Token...

Access Token = 983af5ce8acb796565b875eb3992c7c3613e2510

üì• Fetching last 10 activities from Strava...
‚úÖ 10 activities retrieved from Strava.
Colonnes ‚úÖ
Distance convertie ‚úÖ
Index id ‚úÖ
temps de secondes en minutes ‚úÖ
m/s en km/h ‚úÖ
min/km colonne ‚úÖ
Format temps HH:MM:SS ‚úÖ
Les donn√©es ont √©t√© nettoy√©es avec succ√®s ‚úÖ
Pas de nouvelles activit√©s.